fastapi==0.115.11
PyYAML
pillow==9.0.1
qdrant-client
python-dotenv
uvicorn==0.29.0
simplejson
fvcore
scikit-learn
tensorboard
efficientnet_pytorch
kornia
loralib
python-multipart
pymongo
bcrypt
pyjwt
opencv-python