fastapi==0.115.11
PyYAML
pillow==9.0.1
qdrant-client
python-dotenv
uvicorn==0.29.0
simplejson
fvcore
scikit-learn
tensorboard
efficientnet_pytorch
kornia
loralib
python-multipart
pymongo
bcrypt
pyjwt
opencv-python
imutils
scikit-image
cmake
dlib-19.22.99-cp310-cp310-win_amd64.whl
numpy==1.26.4
# nnunetv2==2.4.2
# dlib